node
node_modules
dist
build/*.js
target
public
src/assets
.eslintrc.js

*.woff
*.ttf
*.sh
*.scss
*.css
*.svg

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
