<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hccake.ballcat.codegen.mapper.TemplateGroupMapper">

	<resultMap id="templateGroupResultMap" type="com.hccake.ballcat.common.model.domain.SelectData">
		<result property="name" column="name" />
		<result property="value" column="value" />
		<association property="attributes" javaType="com.hccake.ballcat.codegen.model.vo.TemplateGroupSelectDataAttributes">
			<result property="icon" column="icon" />
		</association>
	</resultMap>

	<select id="listSelectData" resultMap="templateGroupResultMap">
		select
			name, group_key as value , icon
		from
			gen_template_group tg
		where deleted = 0
	</select>

</mapper>